# 默认忽略的文件
/shelf/
/workspace.xml
# Rider 忽略的文件
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TRO Pre Demo.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
